[package]
name = "many-types"
version = "0.2.4" # managed by release.sh
edition = "2021"
description = "General types related to CBOR encoding, or to the specification."
license-file = "../../LICENSE"
homepage = "https://liftedinit.org/"
repository = "https://github.com/liftedinit/many-rs.git"
authors = ["The Lifted Initiative <crates@liftedinit.org>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
many-error = { path = "../many-error", version = "0.2.4" } # managed by release.sh
many-identity = { path = "../many-identity", version = "0.2.4" } # managed by release.sh
base64 = "0.21.2"
coset = "0.3.4"
derive_more = "0.99.17"
fixed = "1.23.1"
hex = "0.4.3"
minicbor = { version = "0.19.1", features = ["derive", "std", "half"] }
num-derive = "0.3.3"
num-traits = "0.2.15"
num-bigint = "0.4.3"
proptest = { version = "1.2.0", optional = true }
serde = "=1.0.163"
strum = { version = "0.25.0", features = ["derive"] }

[dev-dependencies]
cbor-diag = "0.1.12"
many-types = { path = ".", features = ["proptest"], version = "0.2.4" } # managed by release.sh
serde_test = "1.0.163"

[features]
cucumber = []
